.features-section{
    width: 100%;
    padding: 8rem 0;
}

.features-section-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    align-items: center;
}

.feature-img{

}

.features-boxex{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
