.team-container {
    padding: 7rem 0;
}

.team-title {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 3rem;
}

.team-title p::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: #ffde9e;
    margin: 4px 10px;
}

.team-box-container{
    width: 90%;
    margin: 0 auto;

}

.team-boxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 2.5rem;
}
