.conts-section{
    width: 100%;
}

.counts-container{
    width: 90%;
    margin: 0 auto;
}

.counts-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
}

.counts-right{
    width: 70%;
    height: 30rem;
    /* background: url(https://hivalearn.ir/templates/kasuka/assets/img/counts-img.jpg) center center no-repeat;
    background-size: cover;
    min-height: 400px; */
   
}

.counts-img {
    background: url(https://hivalearn.ir/templates/kasuka/assets/img/counts-img.jpg) center center no-repeat;
    background-size: cover;
    min-height: 400px;
    width: 100%;
    height: 100%;
   
}

.counts-left{
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.counts-left h2 {
    font-weight: bold;
}

.counts-text{

}

.counts-components{
    display: grid;
    grid-template-columns: repeat(2 ,auto);
    column-gap: 2rem;
}
