.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #000000b3;
    z-index: 100;
  }

.nav-container{
    width: 100%;
    background: #000;
    position: relative;
    z-index: 100;
}

.nav-content{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1rem 0 0.5rem 0;

}

.nav-logo{
    display: flex;
    align-items: center;
}
.nav-logo h2 {
    color: #ffff;
    font-weight: bold;
    margin-bottom: 0;

}

.logo-box {
    width: 2.5rem;
}

.logo-box img {
    width: 100%;
}

.nav-center{
    
}
.nav-center ul{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;    margin-bottom: 0;
    list-style: none;
    
}

.nav-list-item {
    text-decoration: none;
    color: #ffff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.nav-list-item:hover{
    color: var(--bs-yellow);
    transition: all 0.5s ease;
}

.nav-content button {
    background: none;
    color:  #ffff;
    border: 2px solid rgb(255, 190, 12);
    padding: 0.3rem 1.5rem;
    border-radius: 0.3rem;
    transition: all 0.3s ease-in-out;
}

.nav-content button:hover {
    background-color: var(--bs-yellow);
    transition: all 0.3s ease-in-out;
    color: #000;
}

.active {
    color: rgb(255, 190, 12);

}